Source: ros-jazzy-rqt-robot-steering
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/rqt_robot_steering
Standards-Version: 3.9.2

Package: ros-jazzy-rqt-robot-steering
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libgeometry-msgs-dev, python3-ament-index, python3-geometry-msgs, python3-python-qt-binding (>= 0.2.19), ros-geometry-msgs, ros-jazzy-rclpy, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-py, ros-jazzy-ros-workspace
Description: rqt_robot_steering provides a GUI plugin for steering a robot using Twist messages.
